.container{
    background-color: black;
    height: 535.33px;
    width:  583.33px;
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    margin-top: 40px;
    margin-left: 280px;
    border-radius: 16px;
    
}
.mainComponent{
    /* padding-top: 20px;
    padding-bottom:60px; */
    padding-bottom:25px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: #303438;

}
.Icon{
    padding-bottom: 0px;
    margin-bottom:0px ;
}
.heading{
    padding-top: 0px;
    margin-top: 0px;
}
.stylIcon{
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}
.heading{
    color: white;
}
.bottom{
    color: white;
}
.link{
    color: #1D9BF0;
    text-decoration: none;
}
